* {
    box-sizing: border-box;
    color: #333;
}

button {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fafafa;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #eee;
    }
    &:active {
        border-color: #aaa;
    }
    &:focus {
        outline: none;
    }
}

/* scrollbar 배경 스크롤 바 */
*::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
    background-color: black;
}

/* thumb 움직이는 스크롤 바 */
*::-webkit-scrollbar-thumb {
    border: 1px solid #dbdbdb;
    width: 2px;
    background-color: white;
}